.btn-primary.override-bs {
    border-radius: 40px;
}
.wd-rounded-corners-all-around { border-radius: 40px; }

.wd-circle-border { border-radius: 100%; }

.wd-position-bottom {
    position: absolute;
    bottom: 10px;
}

.wd-nudge-left-8p {
    position: relative;
    right: 8%;
}

.wd-nudge-left-16p {
    position: relative;
    right: 16%;
}

.wd-color-light-text { color: rgb(110, 118, 125); }
