.btn-primary.override-bs {
    color: black;
    background-color: yellow;
    border-color: #fd0d51;
    border-width: 10px;
    border-radius: 20px;
    border-style: dashed;
    font-size: 2em;
    font-weight: bolder;
}