h2 {
    color: blue;
    background-color: yellow;
}

.highlight-text{
    color: blue;
    background-color: green;
}

#intro-paragraph {
    color: white;
    background: grey;
}

.fg-color {
    color: red;
}

.bg-color {
    background-color: yellow;
}

.text-50-pct-larger {
    font-size: 1.5em;
}